body {
  font-family: Arial;
  margin: 0;
  background-color: black;
  color: rgb(133, 128, 128);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.Navbar {
  overflow: hidden;
  align-self: auto;
}

.navlinks {
  float: left;
  color: #f2f2f2;
  margin: 1% 2%;
  padding: 6px 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
}

.Navbar a:hover {
  background-color: rgb(189, 82, 82);
  color: black;
  transition: 0.3s linear;
}

.Navbar a.active {
  background-color: rgb(189, 82, 82);
  color: white;
}
.navbarright a {
  float: right;
}
.tab {
  margin: 4%;
}
table#t01 {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
  height: 50px;
}
table#t01 tr:nth-child(odd) {
  background-color: #fff;
  height: 50px;
}
table#t01 th {
  background-color: rgb(189, 82, 82);
  color: black;
  height: 50px;
}
.bodybackground {
    
    padding: 2%;
    background-image: url("logo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vw;
    position: static;
    margin: 0 1% 1% 1%;
}
.search{

   height: 25px;
   width: 900px;
}

.submit{
  height: 30px;
  width: 100px;
  background-color: rgb(189, 82, 82) ;
  color: black;
  border: 1px solid black;
}

.style{

  color: black;
}
